@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(128, 128, 128, 0.1);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-huros-11
    rounded-sm
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-huros-1
  }
}

/* base styles */
/* body {
  background: #ebf0fa;
  @apply text-gray-500 m-8;
}
h1, h2 {
  @apply font-bold text-lg;
}
main {
  @apply max-w-5xl my-12 mx-auto px-8;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply  underline;
} */


@font-face {
  font-family: Avenir;
  src: url(https://static1.squarespace.com/static/64549edfdda45808aba5c4a7/t/6499136374260857ec4749da/1687753571686/AvenirLTStd-Book.otf);
}

/* @font-face {
  font-family: AthensB;
  src:
    url(https://static1.squarespace.com/static/64549edfdda45808aba5c4a7/t/6507f936b53f240d9d312d85/1695021366330/Athens-Black.ttf);
}

@font-face {
  font-family: AthensBold;
  src:
    url(https://static1.squarespace.com/static/64549edfdda45808aba5c4a7/t/6507f936b0f3c721346050a9/1695021366132/Athens-Bold.ttf);
} */

@font-face {
  font-family: "Athens";
  src: url('/fonts/Athens-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Athens";
  src: url('/fonts/Athens-Thin.ttf') format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Athens";
  src: url('/fonts/Athens-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Athens";
  src: url('/fonts/Athens-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: 'Avenir';
  @apply text-xl text-gray-300 leading-relaxed
}

a {
  /* text-decoration-line: none !important; */
}

h1 {
  font-family: 'Athens';
  /* font-size:60px; */
  @apply text-6xl text-gray-200 leading-tight font-black;

}

h2 {
  font-family: 'Athens';
  @apply text-5xl text-gray-300 leading-snug font-black;
}

h3 {
  font-family: 'Athens';
  @apply text-3xl text-gray-300 leading-snug font-black;
}

h4 {
  font-family: 'Athens';
  @apply text-2xl text-white font-black;
}

/* 


h5 {
  font-family: 'Avenir';
  @apply text-lg text-white;
}

h6 {
  font-family: 'Avenir';
  @apply text-sm text-white;
} */

/* .vertical-line { */
/* height: 614px; line height */
/* width: 1px; */
/* background: #B49A5B; line colour */
/* margin-right: auto; */
/* margin-left: auto; */
/* } */

/* nav styles */
/* nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    flex items-center gap-5 
    my-10 mx-auto 
    max-w-5xl;
}
nav a, nav span {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
} */

/* button styles */
/* button {
  @apply text-white
    px-3 py-2 
    border
    rounded-md 
    flex justify-between items-center gap-2
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
} */

/* form styles */
form {
  @apply 
    py-4 px-2 
    block 
    mx-auto 
    min-w-fit w-2/3;
}
form label {
  @apply text-white
  ;
}
form input,
form textarea,
form select {
  @apply 
    block 
    mt-2 my-4 px-2 py-1
    h-10
    rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}
form button:disabled{
  @apply bg-huros-11
}

/* Form Input Text Style */
form input[type="email"], input[type="text"], input[type="number"] {
  @apply 
    border 
    border-huros-1 
    border-t-0 
    border-l-0 
    border-r-0 
    w-full 
    appearance-none 
    block 
    bg-transparent 
    font-thin 
    leading-tight 
    text-white 
    focus:outline-none;
}

/* Form Input Radio Style */
form input[type="radio"], .form-radio {
  @apply 
    border 
    border-huros-1 
    rounded-full 
    w-4
    h-4 
    appearance-none 
    checked:bg-huros-1;
}

select {
  @apply 
    border 
    border-huros-1 
    border-t-0 
    border-l-0 
    border-r-0 
    w-full 
    appearance-none 
    block 
    bg-transparent 
    font-thin 
    leading-tight 
    text-white 
    focus:outline-none;
}

select option {
  @apply 
    w-full 
    appearance-none 
    block 
    bg-transparent 
    text-black;
}

/* feedback styles */
/* .error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
} */

/* card styles */
/* .card {
  @apply 
    bg-white 
    shadow-sm 
    rounded-md 
    py-3 px-4 my-4 
    relative 
    overflow-hidden;
}
.card h3 {
  @apply 
    font-bold text-gray-700 text-sm 
    mb-0;
}
.card p {
  @apply my-4 text-sm leading-6;
} */

/* pill styles */
/* .pill {
  @apply 
    py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply 
    absolute bottom-0 right-0 
    rounded-tl-md;
} */

/* unordered list styles */
ul {
  font-family: 'Athens';
}

/* table styles */
table {
  font-family: 'Avenir';
}

table thead {
  font-family: 'Avenir';
  @apply 
    font-extrabold
}

table thead th {
  min-width: 13.33%;
}

table tbody {
  @apply 
    font-thin
    text-slate-300;
}

label {
  font-family: "Avenir";
  
  @apply
    text-center
    text-slate-300;
}